.content {
  @media (min-width: 991px) {
    max-width: 1100px;
    margin: auto;
  }
}

.container {
  padding: 0.75rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .noResult {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;

    img {
      max-width: 60%;
    }

    h1 {
      margin-top: 1rem;
    }

    @media (min-width: 991px) {
      width: 20rem;
      margin: auto;
    }
  }
}

.inputContainer {
  padding: 0.5rem;

  input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
}